<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">yelpCamp</p>
            <div class="list group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>

        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%=campground.image%>" class="img-responsive">
            <div class="caption-full">
                <h4 class="pull-right">$<%=campground.price%>/night</h4>
                <h4>
                   <a href=""><%=campground.name%></a> 
                </h4>
                <p>
                    <%=campground.description%>
                </p>
                <p>
                    <em>Submitted by:<%= campground.author.username %>
                    </em>             </p>

            </div>
   <% console.log("this is the current user"+currentlyUser) %>
   <% console.log("this is the author detail"+campground) %>
            <% if(currentlyUser && campground.author.id.equals(currentlyUser._id)){%>
                 <a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">EDIT</a>
                <a class="btn btn-danger" href="/campgrounds/<%=campground._id%>/delete">DELETE</a>
        
                <% } %>
           
         
        </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Make a comment :)</a> 
                </div>
                <hr>
<% campground.comments.forEach(function(comment){%>
    <div class="row">
   <div class="col-md-12">
        <strong><%=comment.author.username%></strong>
        <span class="pull-right">10 days ago</span>
        <p><%=comment.text%></p>
        <% if(currentlyUser && comment.author.id.equals(currentlyUser._id)){%>
        <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" >EDIT</a>
        <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-xs btn-danger" >   
        </form>
    <% } %>
           </div>
   </div>
   
 <%})%>
</div>
                
            </div>
        </div>
    </div>
</div>



    <!---  <form method="GET" action="/campgrounds/<%=campground._id%>/comments/new">
                        <div class="form-group">  <button class="btn btn-primary btn-lg">Make a Comment :)</button> </div>
                    </form> 
        -->

<% include ../partials/footer %>